{% extends 'base.html' %}
{% block content %}
  Nous sommes le {{ now }}
  <div>
    Filtrer :
    <form action="" method="get">
      {{ filter.form.as_p }}
      <input type="submit"/>
    </form>
  </div>

  <ul>
    {% for person in person_list %}
      <li>
        <a href="{% url 'person-detail' slug=person.global_id %}">
          <b>{{ person }}</b> - {{ person.function|default_if_none:'' }}
        </a>

        {% if person.city_agg %}({{ person.city_agg }}){% endif %}

        <br/>
        {% with address=person.addresses.all %}
          {{ address|first }}
        {% endwith %}

      </li>

    {% endfor %}
  </ul>

  <button><a href="{% url 'person-create' %}">Create new person</a></button>
{% endblock %}
