{% extends 'base.html' %}
{% block content %}
  Nous sommes le {{ now }}
  <div>
    Filtrer :
    <form action="" method="get">
      {{ filter.form.as_p }}
      <input type="submit" value="Rechercher"/>
    </form>
  </div>

  <ul>
    {% for person in person_list %}
      <li>
        <a href="{% url 'person-detail' slug=person.global_id %}">
          <b>{{ person }}</b> - {{ person.function|default_if_none:'' }}
        </a>

        {% if person.city_agg %}({{ person.city_agg }}){% endif %}

        <br/>
        {% with address=person.addresses.all %}
          {{ address|first }}
        {% endwith %}

      </li>

    {% endfor %}
  </ul>
  {% if is_paginated %}
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="{{ request.get_full_path }}&page={{ page_obj.previous_page_number }}">previous</a>
      {% endif %}
      <span class="page-current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
      {% if page_obj.has_next %}
        <a href="{{ request.get_full_path }}&page={{ page_obj.next_page_number }}">next</a>
      {% endif %}
    </div>
  {% endif %}
  <div>
    <br/>
    <button><a href="{% url 'person-create' %}">Create new person</a></button>
  </div>
{% endblock %}
